body {
    font-family: "Source Code Pro", sans-serif;
}

.md-sidenav-left.labs-dashboard-nav {
    background-color: #3B4148;
}

.labs-dashboard-nav {
    color: #FCFDFD;
}

.labs-dashboard-nav.menu-item {
    text-align: start;
    text-transform: none;
}

.labs-categories-list {
    background-color: white;
}