<div ng-controller="EditUserController" layout="column" flex layout-fill>
    <div layout="row">
        <md-button class="md-button md-warn" ng-click="postDeleteUser($event)">Borrar</md-button>
        <span flex></span>
        <md-button class="md-button md-primary" ng-click="postEditUser()">Guardar</md-button>
    </div>

    <h1>{{ detailUser.full_name }}</h1>
    <md-input-container flex required>
        <label>Nombre</label>
        <input value="{{ detailUser.full_name }}" type="text" ng-model="detailUser.full_name">
    </md-input-container>

    <md-input-container flex required>
        <label>Credencial</label>
        <input value="{{ detailUser.id_credential }}" type="text" ng-model="detailUser.id_credential">
    </md-input-container>

    <md-input-container flex required>
        <label>Carrera</label>
        <input value="{{ detailUser.career }}" type="text" ng-model="detailUser.career">
    </md-input-container>

    <h2>Carrito</h2>
    <p ng-hide="detailUser.cart.length > 0">{{ detailUser.full_name.split(' ')[0] }} tiene su carrito vacío.</p>
    <md-list ng-show="detailUser.cart.length > 0">
        <md-list-item class="md-3-line" ng-repeat="item in detailUser.cart">
            <div>
                <h3>{{ item.component_name }}</h3>
                <h4>{{ item.component_description }}</h4>
                <p>{{ item.quantity }}</p>
                <p>{{ item.status }}</p>
                <p>{{ item.date_requested }}</p>
            </div>
        </md-list-item>
    </md-list>
    <br>

    <h2>Prestamo Actual</h2>
    <p ng-hide="detailUser.borrowed.length > 0">{{ detailUser.full_name.split(' ')[0] }} no tiene préstamos.</p>
    <md-list ng-show="detailUser.borrowed.length > 0">
        <md-list-item class="md-3-line" ng-repeat="item in detailUser.borrowed">
            <div>
                <h3>{{ item.component_name }}</h3>
                <h4>{{ item.component_description }}</h4>
                <p>{{ item.quantity }}</p>
                <p>{{ item.status }}</p>
                <p>{{ item.date_requested }}</p>
                <p>{{ item.lab_id }}</p>
            </div>
        </md-list-item>
    </md-list>
    <br>

    <h2>Historial</h2>
    <p ng-hide="detailUser.history.length > 0">{{ detailUser.full_name.split(' ')[0] }} no tiene historial.</p>
    <md-list ng-show="detailUser.history.length > 0">
        <md-list-item class="md-3-line" ng-repeat="item in detailUser.history">
            <div>
                <h3>{{ item.component_name }}</h3>
                <h4>{{ item.component_description }}</h4>
                <p>{{ item.date_out }}</p>
                <p>{{ item.date_in }}</p>
            </div>
        </md-list-item>
    </md-list>
</div>
