<div ng-controller="AddUserController" layout="column" flex layout-fill>
    TODO: Revisar si se va a incluir
    <!--
    <div layout="row">
        <md-button ng-click="cancelNewUser()">Cancelar</md-button>
        <span flex></span>
        <md-button class="md-button md-primary" ng-click="postNewUser()">Guardar</md-button>
    </div>
    <br/>
    
    <md-card>
        <md-card-header>
            <md-card-header-title>
                <h2>Nuevo Usuario</h2>
            </md-card-header-title>
        </md-card-header>

        <md-card-content>
            <form ng-submit="addNewItemToNewCategory()" layout="column">
                <md-input-container required>
                    <label>Nombre</label>
                    <input ng-model="newCategoryNewItem.name">
                </md-input-container>

                <md-input-container required>
                    <label>Notas</label>
                    <input ng-model="newCategoryNewItem.note">
                </md-input-container>

                <div>
                    <md-input-container required>
                        <label>Total</label>
                        <input ng-model="newCategoryNewItem.total" type="number">
                    </md-input-container>

                    <md-input-container required>
                        <label>Disponible</label>
                        <input ng-model="newCategoryNewItem.available" type="number">
                    </md-input-container>
                </div>

                <md-card-actions layout="row" layout-align="end center">
                    <input class="md-button md-primary" type="submit" value="Agregar">
                </md-card-actions>
            </form>
        </md-card-content>
    </md-card>
-->
</div>
